*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Nasconde la scrollbar da Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
/* Nasconde la scrollbar da IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.fullscreen-video {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.fullscreen-video video {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(5px);
	z-index: -1;
}

.countdown {
    height: 100vh;
    color: #f5f5f5;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.countdown h1 {
    font-size: 1.5em;
    margin-bottom: 1.5rem;

    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
}

#countdown {
    font-size: 4em;
    font-weight: bold;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.oggetti {
    height: 100vh;

    background-color: aqua;
}



@media screen and (min-width: 375px) {

    #countdown {
        font-size: 4.5em;
    }
    
}

@media screen and (min-width: 425px) {

    #countdown {
        font-size: 5.5em;
    }
    
}

    /* - iPad, Tablets - */
@media screen and (min-width: 481px) {

    .countdown h1 {
        font-size: 2em;
    }

    #countdown {
        font-size: 6em;
    }
    
}
    
    /* - Small screens, laptops - */
@media screen and (min-width: 670px) {

    .countdown h1 {
        font-size: 2.5em;
    }

    #countdown {
        font-size: 5.5em;

        margin: 0;
    }
        
}
    
    /* - Desktops, large screens - */
@media screen and (min-width: 1024px) {

    .countdown h1 {
        font-size: 2.5em;
    }

    #countdown {
        font-size: 7.5em;

        margin: 0;
    }
        
}
    
    /* - Extra large screens, TV - */
@media screen and (min-width: 1440px) {

    .countdown h1 {
        font-size: 2.5em;
    }

    #countdown {
        font-size: 10em;

        margin: 0;
    }
    
}

@media screen and (min-width: 1850px) {

    .countdown h1 {
        font-size: 3.5em;
    }

    #countdown {
        font-size: 12em;

        margin: 0;
    }

}
    
    /* - 4K - */
@media screen and (min-width: 2000px) {

    .countdown h1 {
        font-size: 4em;
    }

    #countdown {
        font-size: 15em;

        margin: 0;
    }

}